/*!
Chad Lawson Editor Styles
Version: 2.0.0
*/

/*
Defaults
----------------------------------------------------------------------------- */
/* Reset
--------------------------------------------- */
/* Box Sizing
--------------------------------------------- */
*, input[type="search"] {
  box-sizing: border-box; }

/* Float Clearing
--------------------------------------------- */
.author-box::after, .clearfix::after, .entry::after, .entry-content::after, .site-footer::after, .footer-widgets::after, .site-header::after, .pagination::after, .site-container::after, .site-inner::after, .wrap::after {
  clear: both;
  content: "";
  display: table; }

html, body {
  overflow-x: hidden; }

/* Typography
--------------------------------------------- */
html {
  font-size: 16px; }
  @media screen and (min-width: 1023px)  {
    html {
      font-size: 18px; } }

body {
  background-color: #fff;
  color: #494b4c;
  font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased; }

a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button {
  -webkit-transition: all, 0.1s, ease-in-out;
  -moz-transition: all, 0.1s, ease-in-out;
  transition: all, 0.1s, ease-in-out; }

::selection {
  background-color: #1c1e1f;
  color: #fff; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #00a66c;
  text-decoration: none; }
  a:hover {
    color: #4fcea0; }
  a:active, a:focus {
    color: #4fcea0;
    outline: none; }

p {
  margin: 0 0 16px;
  padding: 0; }
  @media screen and (min-width: 810px)  {
    p {
      margin-bottom: 26px; } }

b, strong {
  font-weight: 600; }

hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 20px 0; }

pre {
  background: #f5f5f5;
  color: #1c1e1f;
  font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.8888888889rem;
  margin-bottom: 26px;
  max-width: 100%;
  overflow: auto;
  padding: 3% 10% 3% 5%;
  position: relative;
  tab-size: 4;
  white-space: pre-wrap; }

code, kbd, tt, var {
  font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.8888888889rem; }

address {
  font-style: italic;
  margin: 0 0 26px; }

abbr, acronym {
  border-bottom: 1px dotted #e0e0e0;
  cursor: help; }

mark, ins {
  background: #dbf5eb;
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: 0.5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

blockquote, cite, em, i {
  font-style: italic; }

blockquote {
  color: #676869;
  font-family: 'Cabin Sketch', Times, 'Times New Roman', serif;
  font-style: italic;
  margin: 30px; }
  blockquote cite {
    display: block;
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin-top: 15px; }
    blockquote cite::before {
      content: "\2014";
      padding-right: 10px; }

/* Headings
--------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: #1c1e1f;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 10px;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.7777777778rem; }
  @media screen and (min-width: 810px)  {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.5555555556rem; }
  @media screen and (min-width: 810px)  {
    h2 {
      font-size: 1.7777777778rem; } }

h3 {
  font-size: 1.3888888889rem; }
  @media screen and (min-width: 810px)  {
    h3 {
      font-size: 1.5555555556rem; } }

h4 {
  font-size: 1.2222222222rem; }
  @media screen and (min-width: 810px)  {
    h4 {
      font-size: 1.3888888889rem; } }

h5 {
  font-size: 1.1111111111rem; }
  @media screen and (min-width: 810px)  {
    h5 {
      font-size: 1.2222222222rem; } }

h6 {
  font-size: 1.1111111111rem; }

/* Media Objects
--------------------------------------------- */
embed, iframe, img, object, video, .wp-caption {
  max-width: 100%; }

img {
  height: auto;
  margin: 0;
  max-width: 100%; }

a:hover img, a:focus img {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.9; }

.featured-content img, .gallery img {
  width: auto; }

/* Gallery
--------------------------------------------- */
.gallery {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .gallery::after {
    clear: both;
    content: "";
    display: table; }

.gallery-item {
  line-height: 0;
  list-style: none;
  margin: 0 0 2.35765%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 810px)  {
    .gallery-columns-0 .gallery-item, .gallery-columns-1 .gallery-item, .gallery-col-0 .gallery-item, .gallery-col-1 .gallery-item {
      width: 100%;
      box-sizing: border-box; }
    .gallery-columns-2 .gallery-item, .gallery-col-2 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .gallery-columns-2 .gallery-item:last-child, .gallery-col-2 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-2 .gallery-item:nth-child(2n), .gallery-col-2 .gallery-item:nth-child(2n) {
        margin-right: 0; }
      .gallery-columns-2 .gallery-item:nth-child(2n+1), .gallery-col-2 .gallery-item:nth-child(2n+1) {
        clear: left; }
    .gallery-columns-3 .gallery-item, .gallery-col-3 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .gallery-columns-3 .gallery-item:last-child, .gallery-col-3 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-3 .gallery-item:nth-child(3n), .gallery-col-3 .gallery-item:nth-child(3n) {
        margin-right: 0; }
      .gallery-columns-3 .gallery-item:nth-child(3n+1), .gallery-col-3 .gallery-item:nth-child(3n+1) {
        clear: left; }
    .gallery-columns-4 .gallery-item, .gallery-col-4 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .gallery-columns-4 .gallery-item:last-child, .gallery-col-4 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-4 .gallery-item:nth-child(4n), .gallery-col-4 .gallery-item:nth-child(4n) {
        margin-right: 0; }
      .gallery-columns-4 .gallery-item:nth-child(4n+1), .gallery-col-4 .gallery-item:nth-child(4n+1) {
        clear: left; }
    .gallery-columns-5 .gallery-item, .gallery-col-5 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 18.1138787216%; }
      .gallery-columns-5 .gallery-item:last-child, .gallery-col-5 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-5 .gallery-item:nth-child(5n), .gallery-col-5 .gallery-item:nth-child(5n) {
        margin-right: 0; }
      .gallery-columns-5 .gallery-item:nth-child(5n+1), .gallery-col-5 .gallery-item:nth-child(5n+1) {
        clear: left; }
    .gallery-columns-6 .gallery-item, .gallery-col-6 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%; }
      .gallery-columns-6 .gallery-item:last-child, .gallery-col-6 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-6 .gallery-item:nth-child(6n), .gallery-col-6 .gallery-item:nth-child(6n) {
        margin-right: 0; }
      .gallery-columns-6 .gallery-item:nth-child(6n+1), .gallery-col-6 .gallery-item:nth-child(6n+1) {
        clear: left; }
    .gallery-columns-7 .gallery-item, .gallery-col-7 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 12.2283137548%; }
      .gallery-columns-7 .gallery-item:last-child, .gallery-col-7 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-7 .gallery-item:nth-child(7n), .gallery-col-7 .gallery-item:nth-child(7n) {
        margin-right: 0; }
      .gallery-columns-7 .gallery-item:nth-child(7n+1), .gallery-col-7 .gallery-item:nth-child(7n+1) {
        clear: left; }
    .gallery-columns-8 .gallery-item, .gallery-col-8 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 10.4370548518%; }
      .gallery-columns-8 .gallery-item:last-child, .gallery-col-8 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-8 .gallery-item:nth-child(8n), .gallery-col-8 .gallery-item:nth-child(8n) {
        margin-right: 0; }
      .gallery-columns-8 .gallery-item:nth-child(8n+1), .gallery-col-8 .gallery-item:nth-child(8n+1) {
        clear: left; }
    .gallery-columns-9 .gallery-item, .gallery-col-9 .gallery-item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 8.9869881208%; }
      .gallery-columns-9 .gallery-item:last-child, .gallery-col-9 .gallery-item:last-child {
        margin-right: 0; }
      .gallery-columns-9 .gallery-item:nth-child(9n), .gallery-col-9 .gallery-item:nth-child(9n) {
        margin-right: 0; }
      .gallery-columns-9 .gallery-item:nth-child(9n+1), .gallery-col-9 .gallery-item:nth-child(9n+1) {
        clear: left; } }
  .gallery-item .gallery-caption {
    -webkit-transition: all, 0.2s ease-in-out;
    -moz-transition: all, 0.2s ease-in-out;
    transition: all, 0.2s ease-in-out;
    background: rgba(28, 30, 31, 0.5);
    color: #fff;
    font-size: 0.6666666667rem;
    line-height: 1.65;
    max-height: 50%;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: 100%; }
  .gallery-item:hover .gallery-caption {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    visibility: visible;
    opacity: 1; }

.gallery-icon a {
  display: block;
  line-height: 0; }

.gallery-icon img {
  width: 100%;
  margin: 0 auto; }

/* Forms
--------------------------------------------- */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select, textarea {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  color: #494b4c;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  width: 100%; }

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, textarea:hover {
  border-color: lightgray; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, textarea:focus {
  border-color: #adadad;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
  outline: none; }

input[type="checkbox"], input[type="image"], input[type="radio"] {
  width: auto; }

input::-webkit-input-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400; }
input::-moz-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400; }
input:-moz-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400; }
input:-ms-input-placeholder {
  color: #c7c7c7;
  opacity: 1;
  font-weight: 400; }

/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 30px;
  width: 100%; }

tbody {
  border-bottom: 1px solid #e0e0e0; }

td, th {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  text-align: left; }

th {
  font-weight: 400; }

/* Lists
--------------------------------------------- */
ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

dl {
  margin: 0;
  padding: 0; }
  dl dt {
    font-weight: 600;
    margin-top: 10px; }
  dl dd {
    margin: 0; }

/* Buttons
--------------------------------------------- */
button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8888888889rem;
  font-weight: 400;
  padding: 16px 24px;
  text-align: center;
  text-transform: uppercase;
  width: auto; }

.cta.button {
  background-color: #33b787;
  color: #fff; }
  .cta.button:hover, .cta.button:focus {
    background-color: #4fcea0;
    color: #fff; }

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  background-color: #1c1e1f;
  color: #fff; }

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .button:hover, .button:focus {
  background-color: #34383a;
  color: #fff; }

.entry-content .button:hover, .entry-content .button:focus {
  color: #fff; }

.block-button, .block.button {
  display: block; }

.entry-content .cta.button:hover, .entry-content .cta.button:focus {
  color: #fff; }

/*
SiteIcons
----------------------------------------------------------------------------- */
/*
Common Classes
----------------------------------------------------------------------------- */
/* Hybrid Core
--------------------------------------------- */
.breadcrumbs {
  font-size: 0.8888888889rem;
  margin-bottom: 15px; }
  .breadcrumbs .sep {
    padding: 0 4px; }

.loop-meta {
  margin-bottom: 30px; }
  .loop-meta p:last-child {
    margin-bottom: 0; }

.loop-title {
  font-size: 2rem;
  font-weight: 600; }

/* Search Form
--------------------------------------------- */
.search-form {
  display: block;
  position: relative; }
  .search-form input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 18px;
    padding: 10px;
    margin: 0;
    width: 100%; }
  .search-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #1c1e1f;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    padding: 0 20px; }
    .search-form button[type=submit]::before {
      font-size: 18px;
      line-height: 1.625; }

/* Post Password Form
--------------------------------------------- */
.post-password-form input {
  display: block;
  width: 100%; }
.post-password-form input[type="password"] {
  margin-bottom: 20px; }

/* Avatar
--------------------------------------------- */
.avatar {
  border-radius: 3px;
  display: block; }

@media screen and (min-width: 480px)  {
  .alignleft .avatar {
    margin-right: 24px; } }

/* WordPress
--------------------------------------------- */
.admin-bar .menu-mobile {
  top: 46px; }
  @media screen and (min-width: 782px) {
    .admin-bar .menu-mobile {
      top: 32px; } }

.menu-open #wpadminbar {
  position: fixed; }

img.centered, .aligncenter, .alignleft, .alignright, img.alignnone, .alignnone {
  max-width: 100%;
  display: block;
  margin: 0 auto 16px; }
  @media screen and (min-width: 810px)  {
    img.centered, .aligncenter, .alignleft, .alignright, img.alignnone, .alignnone {
      margin-bottom: 26px; } }

@media screen and (min-width: 480px)  {
  .alignleft {
    float: left;
    text-align: left; }
  .alignright {
    float: right;
    text-align: right; }
    .alignright .avatar {
      margin-left: 24px; }
  a.alignleft, img.alignleft, .wp-caption.alignleft {
    margin: 0 24px 26px 0; }
  a.alignright, img.alignright, .wp-caption.alignright {
    margin: 0 0 26px 24px; } }

.wp-caption img {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

/* Screen Readers
--------------------------------------------- */
.off-screen, .screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .off-screen:focus, .screen-reader-text:focus {
    outline: 0; }

.skip-link .screen-reader-text:focus {
  clip: auto;
  height: auto;
  margin: 20px;
  padding: 15px;
  width: auto;
  z-index: 100; }

/*
Flagship Styles
----------------------------------------------------------------------------- */
/* Author Boxes
--------------------------------------------- */
.author-box {
  background: #fff;
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
  padding: 20px 20px 4px;
  text-align: center; }
  @media screen and (min-width: 810px)  {
    .author-box {
      text-align: left;
      padding: 40px 40px 14px; } }
  .author-box p:last-child {
    margin-bottom: 0; }
  .author-box .avatar {
    margin: 0 auto 16px;
    width: 100px; }
    @media screen and (min-width: 810px)  {
      .author-box .avatar {
        float: left;
        margin-bottom: 26px;
        margin-right: 26px; } }
  .author-box .social-icons {
    display: block;
    margin: 16px 0; }
    @media screen and (min-width: 810px)  {
      .author-box .social-icons {
        margin: 26px 0; } }
    .author-box .social-icons li {
      display: inline-block;
      margin: 0 5px 5px; }
    .author-box .social-icons a {
      color: #676869; }
    .author-box .social-icons a:hover, .author-box .social-icons a:focus {
      color: #00a66c; }

.author-box-title {
  margin-bottom: 4px; }
  .author-box-title a {
    color: #676869; }
  .author-box-title a:hover, .author-box-title a:focus {
    color: #00a66c; }

/* Typography Formats
--------------------------------------------- */
.dropcap {
  float: left;
  font-size: 300%;
  line-height: 0.6;
  margin: 0.7rem 0.5rem 0 0; }

@media screen and (min-width: 810px)  {
  .pull-quote {
    max-width: 60%; }
    .pull-quote.alignright {
      border-left: 0;
      border-right: 7px solid #f5f5f5;
      margin: 30px 0 30px 5%;
      padding: 0 5% 0 0; } }

.intro-pagragraph {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  padding: 20px 0; }

/*
Theme Icons
----------------------------------------------------------------------------- */
/* Theme Icon Padding
--------------------------------------------- */
a[href^="mailto:"]::before, a[href^="tel:"]::before, .entry-author a::before, .chat-author cite::before, .entry-published::before, .entry-comments-link::before, .post-edit-link::before, .entry-permalink::before, .post-format-link::before, .entry-terms::before, .image-sizes::before, .entry-views::before, .comment-published::before, .comment-edit-link::before, .comment-author::before, .comment-permalink::before {
  padding-right: 3px;
  padding-bottom: 2px; }

/* Link Icons
--------------------------------------------- */
/* Menu Icon
--------------------------------------------- */
/* Search Icon
--------------------------------------------- */
/* Post Icons
--------------------------------------------- */
/* Author Box Icons
--------------------------------------------- */
/* Comment Entry Icons
--------------------------------------------- */
/* Comment Reply Icons
--------------------------------------------- */
.comment-reply-title::before {
  padding: 0 3px 1px 0; }

.comment-reply-link::before, .comment-reply-login::before {
  margin-bottom: 3px;
  padding-right: 5px; }

.comment-respond label[for="author"]::before, .comment-respond label[for="email"]::before, .comment-respond label[for="url"]::before, .comment-respond label[for="comment"]::before {
  margin-bottom: 3px;
  padding: 0 5px;
  color: #494b4c; }

/* Media Info Toggle Icon
--------------------------------------------- */
.media-info-toggle::after {
  color: #f5f5f5;
  padding-left: 5px;
  vertical-align: top; }

/* Media Player Icons
--------------------------------------------- */
.mejs-button button::after {
  color: #fff; }

.mejs-unmute button::after {
  color: #494b4c; }

/* Link Icons
--------------------------------------------- */
/* Menu Icon
--------------------------------------------- */
/* Search Icon
--------------------------------------------- */
/* Post Icons
--------------------------------------------- */
/* Author Box Icons
--------------------------------------------- */
/* Comment Entry Icons
--------------------------------------------- */
/* Comment Reply Icons
--------------------------------------------- */
.comment-reply-title::before {
  padding: 0 3px 1px 0; }

.comment-reply-link::before, .comment-reply-login::before {
  margin-bottom: 3px;
  padding-right: 5px; }

.comment-respond label[for="author"]::before, .comment-respond label[for="email"]::before, .comment-respond label[for="url"]::before, .comment-respond label[for="comment"]::before {
  margin-bottom: 3px;
  padding: 0 5px;
  color: #494b4c; }

/* Media Info Toggle Icon
--------------------------------------------- */
.media-info-toggle::after {
  color: #f5f5f5;
  padding-left: 5px;
  vertical-align: top; }

/* Media Player Icons
--------------------------------------------- */
.mejs-button button::after {
  color: #fff; }

.mejs-unmute button::after {
  color: #494b4c; }

body {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
  background: #fff; }
  body:last-child {
    margin-right: 0; }

/*
Content Area
----------------------------------------------------------------------------- */
p, ol, ul, dl {
  margin-bottom: 26px; }

ol, ul {
  margin-left: 40px; }

li {
  margin-bottom: 1%; }

ol > li {
  list-style-type: decimal; }

ul > li {
  list-style-type: disc; }

li ol, li ul {
  margin-top: 1%; }

blockquote {
  border-left: 7px solid #f5f5f5;
  margin: 4% 5% 4% 0;
  padding: 0 0 0 5%; }

.mce-item-table, table {
  border-collapse: separate;
  border: 1px solid #e0e0e0;
  border-left: 0;
  margin: 20px 0;
  width: 100%; }

.mce-item-table td, .mce-item-table th, .mce-item-table caption, table th, table td {
  border: 0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px;
  text-align: left;
  vertical-align: top; }

table thead:first-child tr:first-child th, table tbody:first-child tr:first-child th, table tbody:first-child tr:first-child td {
  border-top: 0 none; }

pre {
  background: #f5f5f5;
  color: #1c1e1f;
  font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.8888888889rem;
  margin-bottom: 26px;
  max-width: 100%;
  overflow: auto;
  padding: 3% 10% 3% 5%;
  position: relative;
  tab-size: 4;
  white-space: pre-wrap; }

code, kbd, tt, var {
  font-family: Consolas, Monaco, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 0.8888888889rem; }

.wp-caption .wp-caption-text {
  margin: 10px 0;
  font-size: 0.6666666667rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2; }
