
.icon-abacus {
	background-image: url('images/abacus.png');
	background-repeat: no-repeat;
}



.icon-amazon {
	background-image: url('images/amazon.png');
	background-repeat: no-repeat;
}



.icon-apple {
	background-image: url('images/apple.png');
	background-repeat: no-repeat;
}



.icon-arrow-down {
	background-image: url('images/arrow-down.png');
	background-repeat: no-repeat;
}



.icon-arrow-left {
	background-image: url('images/arrow-left.png');
	background-repeat: no-repeat;
}



.icon-arrow-right {
	background-image: url('images/arrow-right.png');
	background-repeat: no-repeat;
}



.icon-arrow-up {
	background-image: url('images/arrow-up.png');
	background-repeat: no-repeat;
}



.icon-aside {
	background-image: url('images/aside.png');
	background-repeat: no-repeat;
}



.icon-audio {
	background-image: url('images/audio.png');
	background-repeat: no-repeat;
}



.icon-bandcamp {
	background-image: url('images/bandcamp.png');
	background-repeat: no-repeat;
}



.icon-behance {
	background-image: url('images/behance.png');
	background-repeat: no-repeat;
}



.icon-bloglovin {
	background-image: url('images/bloglovin.png');
	background-repeat: no-repeat;
}



.icon-book {
	background-image: url('images/book.png');
	background-repeat: no-repeat;
}



.icon-calendar {
	background-image: url('images/calendar.png');
	background-repeat: no-repeat;
}



.icon-camera-alt {
	background-image: url('images/camera-alt.png');
	background-repeat: no-repeat;
}



.icon-camera {
	background-image: url('images/camera.png');
	background-repeat: no-repeat;
}



.icon-cancel {
	background-image: url('images/cancel.png');
	background-repeat: no-repeat;
}



.icon-caret-down {
	background-image: url('images/caret-down.png');
	background-repeat: no-repeat;
}



.icon-caret-left {
	background-image: url('images/caret-left.png');
	background-repeat: no-repeat;
}



.icon-caret-right {
	background-image: url('images/caret-right.png');
	background-repeat: no-repeat;
}



.icon-caret-up {
	background-image: url('images/caret-up.png');
	background-repeat: no-repeat;
}



.icon-cart {
	background-image: url('images/cart.png');
	background-repeat: no-repeat;
}



.icon-chat {
	background-image: url('images/chat.png');
	background-repeat: no-repeat;
}



.icon-check {
	background-image: url('images/check.png');
	background-repeat: no-repeat;
}



.icon-chevron-down {
	background-image: url('images/chevron-down.png');
	background-repeat: no-repeat;
}



.icon-chevron-left {
	background-image: url('images/chevron-left.png');
	background-repeat: no-repeat;
}



.icon-chevron-right {
	background-image: url('images/chevron-right.png');
	background-repeat: no-repeat;
}



.icon-chevron-up {
	background-image: url('images/chevron-up.png');
	background-repeat: no-repeat;
}



.icon-close {
	background-image: url('images/close.png');
	background-repeat: no-repeat;
}



.icon-codepen-alt {
	background-image: url('images/codepen-alt.png');
	background-repeat: no-repeat;
}



.icon-codepen {
	background-image: url('images/codepen.png');
	background-repeat: no-repeat;
}



.icon-comment {
	background-image: url('images/comment.png');
	background-repeat: no-repeat;
}



.icon-dribbble {
	background-image: url('images/dribbble.png');
	background-repeat: no-repeat;
}



.icon-edit-alt {
	background-image: url('images/edit-alt.png');
	background-repeat: no-repeat;
}



.icon-edit {
	background-image: url('images/edit.png');
	background-repeat: no-repeat;
}



.icon-error {
	background-image: url('images/error.png');
	background-repeat: no-repeat;
}



.icon-external {
	background-image: url('images/external.png');
	background-repeat: no-repeat;
}



.icon-facebook-alt {
	background-image: url('images/facebook-alt.png');
	background-repeat: no-repeat;
}



.icon-facebook {
	background-image: url('images/facebook.png');
	background-repeat: no-repeat;
}



.icon-fast-forward {
	background-image: url('images/fast-forward.png');
	background-repeat: no-repeat;
}



.icon-feed {
	background-image: url('images/feed.png');
	background-repeat: no-repeat;
}



.icon-flickr {
	background-image: url('images/flickr.png');
	background-repeat: no-repeat;
}



.icon-folder {
	background-image: url('images/folder.png');
	background-repeat: no-repeat;
}



.icon-gallery {
	background-image: url('images/gallery.png');
	background-repeat: no-repeat;
}



.icon-github {
	background-image: url('images/github.png');
	background-repeat: no-repeat;
}



.icon-googleplay-alt {
	background-image: url('images/googleplay-alt.png');
	background-repeat: no-repeat;
}



.icon-googleplay {
	background-image: url('images/googleplay.png');
	background-repeat: no-repeat;
}



.icon-googleplus {
	background-image: url('images/googleplus.png');
	background-repeat: no-repeat;
}



.icon-heart {
	background-image: url('images/heart.png');
	background-repeat: no-repeat;
}



.icon-image {
	background-image: url('images/image.png');
	background-repeat: no-repeat;
}



.icon-instagram {
	background-image: url('images/instagram.png');
	background-repeat: no-repeat;
}



.icon-iphone {
	background-image: url('images/iphone.png');
	background-repeat: no-repeat;
}



.icon-lastfm {
	background-image: url('images/lastfm.png');
	background-repeat: no-repeat;
}



.icon-link-alt {
	background-image: url('images/link-alt.png');
	background-repeat: no-repeat;
}



.icon-link {
	background-image: url('images/link.png');
	background-repeat: no-repeat;
}



.icon-linkedin {
	background-image: url('images/linkedin.png');
	background-repeat: no-repeat;
}



.icon-loading {
	background-image: url('images/loading.png');
	background-repeat: no-repeat;
}



.icon-loop {
	background-image: url('images/loop.png');
	background-repeat: no-repeat;
}



.icon-mail {
	background-image: url('images/mail.png');
	background-repeat: no-repeat;
}



.icon-medium {
	background-image: url('images/medium.png');
	background-repeat: no-repeat;
}



.icon-menu {
	background-image: url('images/menu.png');
	background-repeat: no-repeat;
}



.icon-minus {
	background-image: url('images/minus.png');
	background-repeat: no-repeat;
}



.icon-paper {
	background-image: url('images/paper.png');
	background-repeat: no-repeat;
}



.icon-paperclip {
	background-image: url('images/paperclip.png');
	background-repeat: no-repeat;
}



.icon-pause {
	background-image: url('images/pause.png');
	background-repeat: no-repeat;
}



.icon-person {
	background-image: url('images/person.png');
	background-repeat: no-repeat;
}



.icon-phone {
	background-image: url('images/phone.png');
	background-repeat: no-repeat;
}



.icon-pinterest {
	background-image: url('images/pinterest.png');
	background-repeat: no-repeat;
}



.icon-play {
	background-image: url('images/play.png');
	background-repeat: no-repeat;
}



.icon-playlist {
	background-image: url('images/playlist.png');
	background-repeat: no-repeat;
}



.icon-plus {
	background-image: url('images/plus.png');
	background-repeat: no-repeat;
}



.icon-post {
	background-image: url('images/post.png');
	background-repeat: no-repeat;
}



.icon-quote {
	background-image: url('images/quote.png');
	background-repeat: no-repeat;
}



.icon-rdio {
	background-image: url('images/rdio.png');
	background-repeat: no-repeat;
}



.icon-repeat {
	background-image: url('images/repeat.png');
	background-repeat: no-repeat;
}



.icon-reply {
	background-image: url('images/reply.png');
	background-repeat: no-repeat;
}



.icon-restore {
	background-image: url('images/restore.png');
	background-repeat: no-repeat;
}



.icon-reverbnation {
	background-image: url('images/reverbnation.png');
	background-repeat: no-repeat;
}



.icon-rewind {
	background-image: url('images/rewind.png');
	background-repeat: no-repeat;
}



.icon-search {
	background-image: url('images/search.png');
	background-repeat: no-repeat;
}



.icon-share-alt {
	background-image: url('images/share-alt.png');
	background-repeat: no-repeat;
}



.icon-share {
	background-image: url('images/share.png');
	background-repeat: no-repeat;
}



.icon-shuffle {
	background-image: url('images/shuffle.png');
	background-repeat: no-repeat;
}



.icon-skip-ahead {
	background-image: url('images/skip-ahead.png');
	background-repeat: no-repeat;
}



.icon-skip-back {
	background-image: url('images/skip-back.png');
	background-repeat: no-repeat;
}



.icon-slideshare {
	background-image: url('images/slideshare.png');
	background-repeat: no-repeat;
}



.icon-soundcloud {
	background-image: url('images/soundcloud.png');
	background-repeat: no-repeat;
}



.icon-spotify {
	background-image: url('images/spotify.png');
	background-repeat: no-repeat;
}



.icon-status {
	background-image: url('images/status.png');
	background-repeat: no-repeat;
}



.icon-stop {
	background-image: url('images/stop.png');
	background-repeat: no-repeat;
}



.icon-tag {
	background-image: url('images/tag.png');
	background-repeat: no-repeat;
}



.icon-time {
	background-image: url('images/time.png');
	background-repeat: no-repeat;
}



.icon-tumblr {
	background-image: url('images/tumblr.png');
	background-repeat: no-repeat;
}



.icon-twitter {
	background-image: url('images/twitter.png');
	background-repeat: no-repeat;
}



.icon-video {
	background-image: url('images/video.png');
	background-repeat: no-repeat;
}



.icon-vimeo {
	background-image: url('images/vimeo.png');
	background-repeat: no-repeat;
}



.icon-vine {
	background-image: url('images/vine.png');
	background-repeat: no-repeat;
}



.icon-volume-off {
	background-image: url('images/volume-off.png');
	background-repeat: no-repeat;
}



.icon-volume-on {
	background-image: url('images/volume-on.png');
	background-repeat: no-repeat;
}



.icon-wordpress {
	background-image: url('images/wordpress.png');
	background-repeat: no-repeat;
}



.icon-youtube {
	background-image: url('images/youtube.png');
	background-repeat: no-repeat;
}


