# Created by .ignore monkeys
.sass-cache
*.css.map
tmp
logs
.DS_Store
dist
node_modules/grunt-newer/.cache
node_modules/grunt-jsbeautifier/.idea
node_modules/.bin
assets/theme/video
assets/composer/justintadlock
assets/composer/zamoose
node_modules/grunt-newer/.cache/replace/style/timestamp
node_modules/grunt-newer–.cache/replace/style/timestamp
node_modules/grunt-newer/.cache/wpcss/css/timestamp
node_modules/grunt-newer/.cache/usebanner/theme/timestamp
node_modules/grunt-newer/.cache/uglify/theme/timestamp
node_modules/grunt-newer/.cache/usebanner/editorstyle/timestamp
node_modules/grunt-newer/.cache/sass/theme/timestamp
node_modules/grunt-newer/.cache/sass/editorstyle/timestamp
node_modules/grunt-newer/.cache/concat/js/timestamp
timestamp
node_modules/grunt-newer/.cache/copy/css/timestamp
node_modules/grunt-newer/.cache/copy/disttheme/timestamp
node_modules/grunt-newer/.cache/copy/images/timestamp
node_modules/grunt-newer/.cache/copy/php/timestamp
node_modules/grunt-newer/.cache/cssjanus/theme/timestamp
node_modules/grunt-newer/.cache/cssmin/style/timestamp
node_modules/grunt-newer/.cache/imagemin/images/timestamp
node_modules/grunt-newer/.cache/jsvalidate/theme/timestamp
