// Global Border Radius
//------------------------------------------------------------------------------
$base-border-radius: 3px;
$form-border-radius: $base-border-radius;

// Global Shadows
//------------------------------------------------------------------------------
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);

// sticky header height
$site-header-starting-height-desktop: 450px;
$site-header-starting-height-mobile: 200px;

// mixins

@mixin grey-box-shadow {
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3 );
}

@mixin color-box-shadow( $shadow-color ) {
	box-shadow: 0 0 2px transparentize( $shadow-color, 0.2 );
}

@mixin letterpress( $x, $y, $b, $color ) {
	text-shadow: $x $y $b $color;
}
@mixin faded-text-color-styles {
	color: $transparent-text;
	a {
		color:$transparent-link;

		&:hover {
			color: $transparent-link-hover;
		}
	}
}

@mixin inverse-text-color-styles {
	color: $inverse-font-color;
	@include letterpress ( 0, -1px, 0, $inverse-letterpress );
	p {
		color: $inverse-font-color;
	}
	blockquote {
		color: $inverse-blockquote-color;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	pre {
		color: $inverse-heading-color;
	}
	a {
		color: $inverse-link-color;
		&:hover,
		&:active,
		&:focus {
			color: $inverse-link-color-hover;
		}
	}

	//now resetting the button link styles
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button {
		@extend %button-base;
		background-color: $base-button-background-color;
		color: $base-button-font-color;
		@include letterpress ( -1px, -1px, 0px, $subtle-letterpress-shadow );
		&:hover,
		&:focus {
			background-color: $base-button-background-color-hover;
			color: $base-button-font-color-hover;
		}
	}
}