/* front-page
--------------------------------------------- */
#site-inner {
	margin-top: $site-header-starting-height-mobile;

	@include media( $small-screen-up ) {
		margin-top: $site-header-starting-height-desktop;
	}
}
#home {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: $dark-gray;
	margin-bottom: 2em;

	#video-frame {
		width: 100%;
		display: flex;
		position: relative;
		overflow: hidden;
	}
	#video-overlay {
		z-index: 100;
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		padding-bottom: 30px;
		background: $transparent-dark;
		color: $white;
		flex-grow: 1;
	}
	video {
		width: 100% !important;
		min-width: 100% !important;
		height: auto !important;
		object-fit: cover;
		opacity: 0.9;
	}
	#video-bg {
		width: 100%;
		min-width: 100%;
		height: auto;
		background: $dark-gray;
	}

	&.video-placeholder {
		background-image: url( 'images/video-placeholder.jpg' );
		background-size: cover;
		background-position: 19% center;

		#video-frame {
			display: block;
		}
		#video-overlay {
			position: relative;
			float: right;
			display: block;
			width: 70%;
			flex-grow: 0;
			padding: 20px 10px;
		}

	}
}


.section {
	position: relative;
	padding: 5em 0;
	.wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.section-aside {
			@include span-columns(4);
			padding: 1em;
		}
		.section-main {
			@include span-columns(8);
			padding: 1em;
		}
	}

	// default layout order
	.section-main {
		order: 1;
		padding-left: 0;
	}
	.section-aside {
		order: 2;
		padding-right: 0;
	}

	//layout overrides: 2 col, with large aside (about page)
	&.l-2col-large-aside {
		min-height: 760px;
		.section-main {
			padding: 1em 7em 6em 0;
		}
		.section-aside {
			position: relative;
			img {
				position: absolute;
				max-width: none;
				top: -250px;
				right: -130px;
				z-index: 150;
			}
		}
	}

	//layout overrides: 2 col, aside - main
	&.l-2col-aside-main {
		.section-main {
			order: 2;
			padding-right: 0;
			@include span-columns(4);
		}
		.section-aside {
			order: 1;
			padding-left: 0;
			@include span-columns(8);
		}
	}

	&#contact {
		margin-bottom: 140px;
	}
}

/* Page (general)
--------------------------------------------- */

#page-featured-image {
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.page-wrap {
	margin-top: -300px;
}


/* savvior grid
--------------------------------------------- */

#blog-grid {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.box:last-child {
		margin-bottom: 0;
	}
	.box {
		padding: 20px;
		margin-bottom: 20px;
		@include grey-box-shadow;

		.post-featured-image-thumbnail {
			margin: 6px -25px;
			img {
				border: 1px solid $orange;
				@include color-box-shadow( $orange );
			}
		}
		p {
			font-size: 0.8em;
		}
	}
	.column { float: left; padding: 10px; box-sizing: border-box; }
	.size-1of1 { width: 100%; }
	.size-1of2 { width: 50%; }
	.size-1of3 { width: 33.33333%; }
	.size-1of4 { width: 25%; }
}





/* Entries
--------------------------------------------- */

.read-more {
	white-space: nowrap;
}

.entry {
	margin-bottom: $base-margin;
	padding: 0;
	position: relative;

	@include media( $small-screen-up ) {
		padding: $article-padding;
	}
}

.content .entry {
	background-color: $entry-background-color;
	border-bottom: 1px solid $entry-border-color;

	@include media( $small-screen-up ) {
		border: 1px solid $entry-border-color;
	}
}

.entry-title {
	font-weight: 600;

	a {
		color: $base-heading-color;
	}
}

.entry-title a:hover,
.entry-title a:focus {
	color: $base-heading-color-hover;
}

.corner-ribbon {
	@include size(85px);
	overflow: hidden;
	position: absolute;
	right: -1px;
	top: -1px;

	.ribbon-content {
		@include transform( rotate( 45deg ) );
		background-color: $corner-ribbon-background-color;
		color: $corner-ribbon-font-color;
		font-size: $small-font-size;
		font-weight: 800;
		margin: 0;
		position: relative;
		padding: 2px 7px;
		left: -5px;
		text-align: center;
		top: 15px;
		width: 120px;
	}
}

.rtl .ribbon-content {
	@include transform( rotate( -45deg ) );
}

.entry-content {
	p,
	> ol,
	> ul,
	> dl {
		margin-bottom: $content-margin-small;

		@include media( $small-screen-up ) {
			margin-bottom: $content-margin;
		}
	}

	ol,
	ul {
		margin-left: 20px;

		@include media( $small-screen-up ) {
			margin-left: $base-padding;
		}
	}

	li {
		margin-bottom: 1%;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	li ol,
	li ul {
		margin-top: 1%;
	}

	blockquote {
		border-left: 7px solid $blockquote-border-color;
		margin: 4% 5% 4% 0;
		padding: 0 0 0 5%;
	}

	table {
		border-collapse: separate;
		border: 1px solid $table-border-color;
		border-left: 0;
		margin: 20px 0;
		width: 100%;
	}

	table th,
	table td {
		border-left: 1px solid $table-border-color;
		border-top: 1px solid $table-border-color;
		line-height: 1.2;
		padding: 10px;
		text-align: left;
		vertical-align: top;
	}

	table thead:first-child tr:first-child th,
	table tbody:first-child tr:first-child th,
	table tbody:first-child tr:first-child td {
		border-top: 0 none;
	}

	code {
		background: $code-background-color;
		border: 1px solid $code-border-color;
		color: $code-font-color;
		padding: 2px 4px;
	}

	.wp-caption .wp-caption-text {
		margin: 10px 0;
		font-size: $wp-caption-font-size;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1.2;
	}

	.search-form {
		margin-bottom: $content-margin;
	}
}

/* Entry Meta
--------------------------------------------- */

.entry-meta {
	color: $entry-meta-font-color;
	font-size: $medium-font-size;
	margin-bottom: 0;

	span,
	time,
	a {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		color: $entry-meta-link-color;

		&:hover,
		&:focus {
			color: $entry-meta-link-color-hover;
		}
	}
}

.entry-terms {
	display: block;
	padding-bottom: 5px;

	&:last-child {
		padding-bottom: 0;
	}

	span,
	time,
	a {
		margin-right: 0;
	}
}

.entry-header .entry-meta {
	margin-bottom: $content-margin-small;

	@include media( $small-screen-up ) {
		margin-bottom: $content-margin;
	}
}

.entry-footer {
	@include faded-text-color-styles;

	.entry-meta {
		margin: 0;

		&:last-of-type {
			padding: 0 0 $content-margin;
		}
	}
}

/* Featured Media
--------------------------------------------- */

.featured-media {
	background: $featured-media-background-color;
	display: block;
	margin: 0 0 $content-margin;
	overflow: hidden;

	@include media($small-screen-up) {
		margin-left: -$base-padding;
		margin-right: -$base-padding;
		margin-top: -$base-padding;
	}

	&.audio {
		padding: 20px;
	}

	> a {
		display: block;
		line-height: 0;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}
