header#header.site-header {
	background-color: $header-background-color;
	color: $header-font-color;
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-ms-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
	height: $site-header-starting-height-mobile;
	position:fixed;
	top: 0;
	left: 0;
	z-index:999;
	width: 100%;
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}

	@include media( $small-screen-up ) {
		height: $site-header-starting-height-desktop;
		padding: 0 0 2em 0;
	}

	#branding {
		max-height: 100%;

		svg {
			height: 190px;
			width: auto;
			-webkit-transition: all 1.2s;
			-moz-transition: all 1.2s;
			-ms-transition: all 1.2s;
			-o-transition: all 1.2s;
			transition: all 1.2s;

			@include media( $small-screen-up ) {
				height: 410px;
			}
		}
	}

	&.smaller {
		height: 50px;
		background-color: transparentize( $light-fog, 0.1 );

		@include media( $small-screen-up ) {
			height: 170px;
		}

		#branding {
			svg {
				height: 55px;
				@include media( $small-screen-up ) {
					height: 160px;
				}
			}
		}
	}

}

/* Title Area
--------------------------------------------- */

.site-branding {
	display: block;
	float: none;
	margin: 0 auto;
	width: auto;
	text-align: center;
}

.site-description,
.site-title {
	display: none;
	margin-bottom: 0;
}

/* Header Right
--------------------------------------------- */

.header-right {
	display: none;
}
