.site-header {
	background-color: $header-background-color;
	color: $header-font-color;
	padding: 0 0 2em 0;
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-ms-transition: all 1.2s;
	-o-transition: all 1.2s;
	transition: all 1.2s;
	height: $site-header-starting-height;
	position:fixed;
	top: 0;
	left: 0;
	z-index:999;
	width: 100%;
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
	.header-wrap {

	}


	#branding {
		display: block;
		max-width: 95%;
		max-height: 410px;
		-webkit-transition: all 1.2s;
		-moz-transition: all 1.2s;
		-ms-transition: all 1.2s;
		-o-transition: all 1.2s;
		transition: all 1.2s;
		svg {
			width: auto;
			max-width: 80%;
			max-height: 100%;
		}
	}

	&.smaller {
		height: 170px;
		background-color: transparentize( $light-fog, 0.1 );
		.header-wrap {

		}
		#branding {
			max-width: 40%;
			max-height: 117px;
			svg {
				max-height: 90%;
				width: auto;
			}
		}
	}

}

/* Title Area
--------------------------------------------- */

.site-branding {
	display: block;
	float: none;
	margin: 0 auto;
	width: auto;
	text-align: center;
}

.site-title {
	display: none;
	font-family: $header-font-family;
	font-size: $site-title-font-size;
	font-weight: 600;
	line-height: 1.2;
	text-rendering: optimizeLegibility;

	a,
	a:hover,
	a:focus {
		color: $header-link-color;
	}
}

.site-description {
	display: none;
	color: $header-font-color;
	font-family: $header-font-family;
	font-size: $site-description-font-size;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

/* Header Right
--------------------------------------------- */

.header-right {
	display: none;
}
